.header {
  overflow: hidden;
  background-color: #dcf6f9;
  padding: 6px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header .header-right {
  display: flex;
  align-items: center;
}

.header .header-right span {
  margin-left: 20px;
  cursor: pointer;
  border-radius: 10px; 
  padding: 6px;
  transition: background-color 0.3s ease;
}

.header a.logo img {
  height: 50px;
  width: 130px;
  font-weight: bold;
  text-decoration: none;
  color: black;
}

.header .header-right span {
  color: #028397;
}

.header .header-right span:hover,
.header .header-right span.active:hover {
  color: white;
  background-color: #028397; 
}

.header .header-right .mat-icon {
  padding: 0;
  font-size: 25px;
}

.header-title {
  display: flex;
  align-items: center;
}

.button {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 7px 15px;
  font-size: 16px;
  transition: color 0.6s ease, background-color 0.3s ease; 
  background-color: white;
  color: #028397 ;
  border-radius: 30px;
}

.button.active {
  color: white;
  background-color: #028397;
  font-size: 20px;
  font-weight: 500;
}

.header-title {
  display: flex;
  align-items: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 185px; 
  height: 37px; 
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  border-radius: 34px;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 28px;
  width: 85px;
  left: 7px;
  bottom: 4px;
  background-color: #a9e3ec;
  border-radius: 25px;
  transition: .4s;
}

input:checked + .slider {
  background-color: white;
}

input:checked + .slider:before {
  transform: translateX(85px); 
}

.label-left,
.label-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-family: Arial, sans-serif;
  transition: .4s;
  color: #035e6c;
  font-size: 15px;
  font-weight: bolder;
}

.label-left {
  left: 22px; 
  /* color: white; */
}

.label-right {
  right: 15px; 
  /* color:#028397 */
}
