table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  background-color: rgba(2, 131, 151, 0.1);
  color: #333;
  /* max-height: calc(100vh - 600px); */
}
.page{
height:77%;
  overflow-y: auto;
}
th {
  background-color: rgba(2, 131, 151);
  padding: 10px;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 2;
  color: white;
}

td,
th {
  border: 1px solid rgba(2, 131, 151, 0.3);
  padding: 8px;
}

tr:nth-child(even) {
  background-color: rgba(2, 131, 151, 0.1);
}

mat-icon {
  margin-right: 5px;
}

.editicon {
  color: green;
}

.deleteicon {
  color: red;
}

tr:hover {
  background-color: rgba(2, 131, 151, 0.2);
  color: white;
}

td:hover {
  background-color: rgba(2, 131, 151, 0.2);
  color: white;
}

div {
  text-align: center;
  margin: 50px;
}

p {
  color: #555;
}


@media only screen and (max-width: 768px) {
  table {
    font-size: 12px; /* Decrease font size for smaller screens */
  }
  th{
    top: 0;
  }
  th,
  td {
    
    padding: 5px; /* Decrease padding for smaller screens */
  }
}