<div class="new-slide-page" [@slideInOut]>
  <div class="slide-content">
    <button class="close-button" (click)="closePopup()"><mat-icon>cancel</mat-icon></button>
    <div class="circle-container">
      <img [src]="image.src || 'placeholder-image.jpg'" />
    </div>

    <p class="activitytxt">{{ activityName }}</p>
    <div class="flex-container">
      <div class="flex-item">
        <div class="count-container">
          <mat-icon class="pendinglist">pending_list</mat-icon>
          <span class="txt">12</span>
        </div>
        <p class="text">Pending to Respond</p>
      </div>
      <div class="vertical-line"></div>
      <div class="flex-item">
        <div class="count-container">
          <mat-icon class="chat">chat</mat-icon>
          <span class="txt">12</span>
        </div>
        <p class="text">Chat</p>
      </div>
      <div class="vertical-line"></div>
      <div class="flex-item">
        <div class="count-container">
          <mat-icon class="file">file_copy</mat-icon>
          <span class="txt">12</span>
        </div>
        <p class="text">Unresolved</p>
      </div>
    </div>
    <div class="horizontal-line"></div>
    <div class="row-container">
      <div class="count-container">
        <mat-icon class="out">launch</mat-icon>
        <span class="outtext">OUT</span>
        <span class="txt countt">3</span>
      </div>
      <div class="count-container">
        <mat-icon class="in">transit_enterexit</mat-icon>
        <span class="intext">IN</span>
        <span class="txt countt">4</span>
      </div>
    </div>
    <p class="activitytxt" style="margin-top: 100px;">Last 30 Days</p>
    <div class="horizontal-line"></div>
    <div class="flex-containerr">
      <div class="flex-itemm" *ngFor="let item of flexItems">
        <div class="count-containerr">
          <mat-icon class="icon" [ngClass]="item.className">{{ item.icon }}</mat-icon>
          <span class="txt">{{ item.text }}</span>
          <span class="count">{{ item.count }}</span>
        </div>
      </div>
    </div>    
  </div>
</div>
